*{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}


body{
    margin: 0;
    padding: 0;
    /* background:
    radial-gradient(circle at 25px 25px, #ff4d6d 0 10px, transparent 11px),
    radial-gradient(circle at 45px 25px, #ff4d6d 0 10px, transparent 11px),
    radial-gradient(circle at 35px 40px, #ff4d6d 0 10px, transparent 11px);
  background-size: 70px 70px;
  background-color: #fff0f3; */
    background:
    radial-gradient(circle at 25px 20px, #ff758f 0 6px, transparent 7px),
    radial-gradient(circle at 15px 30px, #ff758f 0 6px, transparent 7px),
    radial-gradient(circle at 35px 30px, #ff758f 0 6px, transparent 7px),
    radial-gradient(circle at 25px 30px, #ff4d6d 0 4px, transparent 5px);
    background-size: 50px 50px;
    background-color: #fff0f3;
}

.container{ 
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.item_container{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    width: 650px;
    height: 750px;
    background-color: white;
    /* background-color: red; */
    /* border: solid .5px black; */
    /* box-shadow: 0 8px 20px rgba(255, 77, 77, 0.35); */
    /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); */
    /* box-shadow: 0 10px 25px rgba(255, 105, 135, 0.4); */
    /* box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18); */

    box-shadow: 0 8px 20px rgba(255, 77, 77, 0.35);
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.item_container:hover{
  box-shadow: 0 12px 20px rgba(255, 77, 77, 0.5);
  /* transform: translateY(-2px); */
}

.content{
    display: flex;
    align-self: center;
    width: 600px;
    height: 600px;
    /* background-color: rgb(151, 127, 131); */
    /* border: solid 1px black; */
    margin: 0;
    padding: 0;

}

.content-pic-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.btn-container{
    display: flex;
    width: 100%;
    /* border: red 1px solid; */
    margin-top: -100px;
}

.btn{
    height: 50px;
    display: flex;
    justify-content: center;
    align-self: center;    
    height: 50px;
    width: 100%;
    /* border: solid 1px green; */
}

.btn a{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #ff4d4d;
    color: white;
    width: 100px;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(255, 77, 77, 0.35);
}

/* move the button */
#runaway {
    position: absolute;
    transition: left 0.3s ease, top 0.3s ease;
}

p, a{
    text-align: center;
    font-size: 35px;
    margin: 10px;
    width: 80%;
    background: #ffffff;
    color: #c9184a;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-top: 30px;
}


.tenor-gif-embed{
    width: 500px;
    height: 500px;
}

.gif{
   border: solid 1px black;

}